h1
  => Event::Activity.model_name.human
  strong = @event_activity.title


== render 'form'

=> link_to "#{t('actions.show')}", @event_activity
'|
=< link_to "#{t('actions.back')}", event_activities_path
