h1
  | #{t('actions.editing')} #{Event.model_name.human.downcase}
  strong =< @event.title

== render 'form'

=> link_to "#{t('actions.show')}", @event
'|
=< link_to "#{t('actions.back')}", events_path
