= @greeting
= "\r\n" * 2

| #{@activity.class.model_name.human} information
= "\r\n"
| Title:
= "\r\n"
|  #{@activity.title}
= "\r\n"
| Description:
= "\r\n"
|  #{@activity.description}
= "\r\n"
| Date:
= "\r\n"
|  #{@activity.dates}

= "\r\n" * 2

| You can see the ticket on your browser on the following link:
= "\r\n"
= ticket_url(@ticket.token)
= "\r\n" * 2
| You can also download the ticket as PDF on the following link:
= "\r\n"
= ticket_url(@ticket.token, format: :pdf)
