h1
  | #{t('actions.editing')} #{Venue.model_name.human.downcase}
  strong =< @venue.name

== render 'form'

=> link_to "#{t('actions.show')}", @venue
'|
=< link_to "#{t('actions.back')}", venues_path
